<div class="container">
  <h3>Questions</h3>
    <%@questions.each do |question|%>
      <div class="row">
        <div class="col-md-3">
          <p><%=question.vote_count%></p>
          <p>Votes</p>
        </div>
        <div class="col-md-3">
          <p><%=question.answers.count%></p>
          <p>Answers</p>
        </div>
        <div class="col-md-6">
          <p><%=link_to(question.title, question_path(question))%></p>
          <p>
            <%question.tags.each do |tag|%>
              <span class="btn btn-default"><%=tag.name%></span>
            <%end%>
          </p>
        </div>
      </div>
    <%end%>
</div>
