<div class="container">
  <h2> <%= @question.title %> </h2>

    <div class="question_content">
        <p> <%= @question.content %> </p>
    </div>

    <div class="question_answers">
        <%= render @answers %>

    </div>

    <div class="answer_form">
      <%= render "answer_form" %>
    </div>



</div>
